@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Krub|Ubuntu|K2D|Playfair+Display|Titillium+Web');
body {
  background-color: #DFE9E8;
}
h1, h2, h3 {
  font-family: "Open Sans";
  color: #8AB0AB;
  text-transform: uppercase;
  text-decoration: underline;
}
p {
  font-family: "Roboto";
  color: #3E505B;
}
footer {
  background-color: #3E505B;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer p {
  color: #8AB0AB;
  font-family: "Krub";
}
a {
  text-decoration: none;
  font-family: "Ubuntu";
  color: #A9C5C1;
  text-transform: uppercase;
  font-size: 12px;
}
a:visited {
  text-decoration: none;
}
i {
  color: #33403F;
  width: 25px;
  height: auto;
  display: inline;
}
i:hover {
  color: #4C605E;
}
ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020A08;
}
li {
  border-right: 1px solid #bbb;
}
li:last-child{
  border-right: none;
}
li a {
  float: left;
  display: inline-block;
  padding: 14px 16px;
  width: 60px;
}
li a:hover {
  color: #94B7B2;
}
