@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Krub|Ubuntu|K2D|Playfair+Display|Titillium+Web');
h1, h2, h3 {
  font-family: "Open Sans";
  color: #8AB0AB;
}
footer {
  background-color: #3E505B;
}
footer p {
  color: #8AB0AB;
  font-family: "Krub";
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
i {
  
}
